@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap');

:root {
  --black4: rgba(0, 0, 0, 0.8);
  --black5: rgba(0, 0, 0);
  --grey1: rgb(244, 244, 247);
}

html {
  background: var(--grey1);
  color: var(--black4);
  font-family: Manrope, Sans-serif;
}

body {
  margin: 0;
}

main {
  padding: 24px 12px 0 12px;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

.giftIcon {
  margin-top: 6px;
}
