.header {
  background: rgba(0, 0, 0, 0.87);
  color: rgba(255, 255, 255, 0.87);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  height: 56px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
